* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  position: relative;
  left: 50%;
  margin-left: -250px;
  top: 200px;
  width: 360px;
  height: 360px;
  background-color: #fff9f1;
  border-radius: 20%;
  border: 1px solid gray;
}

.input {
  position: relative;
  height: 50px;
  border-radius: 30px;
  text-align: right;
}

.result {
  width: 277px;
  margin: 42px;
}

.first-number {
  position: absolute;
  right: 38px;
  top: 124px;
  width: 110px;
}

.last-number {
  position: absolute;
  right: 36px;
  top: 206px;
  width: 110px;
}